<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZvPpplMThb510NXg8wBBuy5lsFJYjfVw</string>
	<key>GCM_SENDER_ID</key>
	<string>898577908366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPlantsappProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>plant-shop-417</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-shop-417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898577908366:ios:32a57ed6e57368e6d87fdf</string>
</dict>
</plist>